@use '../components/mixins' as *;


@keyframes underline{
    from{
        width: 0%;
    }
    to{
        width:100%;
    }
}


.hero{

    text-align: center;
    margin-top: 8rem;

    .h1{
        margin-bottom: 5rem!important;
        width: fit-content;
        position: relative;
        margin:0 auto;

            &::after{
                content:'';
                position: absolute;
                animation: underline .5s ease 1s forwards;
                height: 13px;
                bottom:0;
                left:0;
                z-index: -1;
                opacity: .5;
                background-color: var(--pink);
                transition: height .5s ease;
                will-change: height;
            }

            &:hover::after{
                height: 50%;
            }
        


    }


    .socials{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:1rem;

        a{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 35px;
            width: 35px;
            border-radius: 100%;
            background-color: var(--linkedin-blue);
        }
    }


}



.discount{

    color:var(--purple);
    font-size: 1.6rem;
    line-height: 2.6rem;
   
    .container{
         background-color: var(--light-pink);
         padding: 3rem;
    }

    .row > div{
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    .content{
        padding-inline: 7rem;
    }

    figure{
        width: min(350px, 100%);
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
        margin-inline: auto;
    }

    .btn.transparent{
        position: relative;
        right: 15px;
    }

}















@include mq(md){
    .hero{
        .h1{
            font-size: 6rem;
            line-height: 6rem;
            margin-bottom: 3rem!important;

        }
    }
}



@include mq(sm){
    .hero{
        .h1{
            font-size: 5rem;
            line-height: 5rem;

        }
    }

    .discount{
        text-align: center;

        .h2{
            font-size: 3rem;
            line-height: 3rem;
        }

        .content{
            padding: 3rem;
        }

        .btn{
            margin-inline: auto;

            .transparent{
                right: 0;
            }
        }
    }
}


@include mq(xs){
    .hero{
        .h1{
            font-size: 3.5rem;
            line-height: 3.5rem;
            

        }
    }

    .discount{
        text-align: center;

        .h2{
            font-size: 2.5rem;
            line-height: 3rem;
        }

        .content{
            padding:1.5rem;
        }

    }
}


@include mq(xxs){

    .hero{
        .h1{
            font-size: 3.5rem;
            line-height: 3.5rem;
            width: 250px;

        }
    }
   
}