.btn{
    font-family: 'Poppins', sans-serif;
    background-color: var(--pink);
    color: var(--white);
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 600;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: fit-content;
    gap:.5rem;
}