@keyframes icon-animation {

    0%{
        left:0px;
        opacity: 1;
    }
    50%{
        left:20px;
        opacity: 0;
    }
    51%{
        left:-20px;
        opacity: 0;
    }
    100%{
        left:0;
        opacity: 1;
    }
    
}

.btn{
 

    font-family: 'Poppins', sans-serif;
    background-color: var(--pink);
    color: var(--white);
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 600;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: fit-content;
    gap:.5rem;

    &:hover span{
        position: relative;
        animation: icon-animation .3s ease;
    }


    &.transparent{
        background-color: transparent;
        color: var(--pink);

        span{
            background-color: var(--pink);
        }
    }


}

