@use 'mixins' as *;


header{

    padding: 2rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
        width: 90px;
    }

    a{
        display: flex;
        color:var(--black);
        font-size: 1.6rem;
        line-height: 2.1rem;
        font-weight: 500;
        transition: color .5s ease, opacity .5s ease;
        will-change: color, opacity;
        opacity: 1;
        padding-inline: 1rem;

        &:hover{
            color:var(--pink);
        }
    }

    .hbg{
        position: relative;
        display: none;
        height: 40px;
        width: 40px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 100%;
        order:-1;
        span{
            position: absolute;
            left:9px;
            height: 3px;
            background-color: var(--white);
        }
        :first-child{
            top:17px;
            width: 60%;
        }
        :last-child{
            top:25px;
            width: 30%;
        }
    }

   


    nav{
        display: flex;

        &:hover a:not(:hover,[aria-label]){
            opacity: .5;
        }
        
    }
}


@include mq(sm){


    header{
        padding: 1.5rem 5rem;
        background-color: var(--purple);
        justify-content: start;
        align-items: center;

        nav{
            display: none;
        }

        .logo{
            width: 70px;
        }

        .hbg{
            display: block;
        }


    }



}