@use 'variables' as *;
@use 'sass:map' as *;


@mixin mq($breakpoint){
    $value: get($mq, $breakpoint);
    @if($value){
        @media screen and (max-width: $value) {
            @content;
        }

    }@else{
        @warn 'Ce breakpoint #{$breakpoint} nexiste pas...';
    }


}


@mixin col-gen($bp:'-'){

    @for $i from 1 to 13{
        .col#{$bp}#{$i}{
            grid-column: span $i;
        }
    }

}


@mixin row($display:grid){
    .row{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        gap:20px;
    }
}