@use 'sass:map' as *;
@use 'components/variables' as *;
@use 'components/mixins' as m;
@use 'components/button';
@use 'components/icons';
@use 'components/header';
@use 'pages/home';





*,::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'poppins';
    src: url('../fonts/poppins.woff2');
    display: swap;
}

:root{
 --pink:#EF6467;
 --black:#333333;
 --light-pink:#FDF0EE;
 --purple:#543864;
 --white:#fff;

 --linkedin-blue:#1984BC;


 --base-px:10px;
 --gap-content:2rem;
}

::selection{
    background-color: var(--pink);
    color: var(--white);
}


html{
    font-size: var(--base-px);
}

body{
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.7rem;
    line-height: 2.7rem;
    font-weight: 400;
}

img,
video{
    width: 100%;
    height: 100%;
}


a{
    text-decoration: none;
    // font-family: 'poppins';
}

section{
    position: relative;
    padding: 3%;
    content-visibility: auto;
    contain-intrinsic-size: auto 600px;
}

.h1,
.h2{
    font-family: 'Poppins', sans-serif;
    color: var(--purple);
    font-weight: 600;
}

.h1{
    font-size: 8rem;
    line-height: 8rem;
}

.h2{
    font-size: 3.3rem;
    line-height: 3.7rem;
}

.highlight{
    font-size: 1.5rem;
    line-height: 2.4rem;
    font-weight: 500;
    color: var(--pink);
    text-transform: uppercase;
}


.container{
    width: get($mq, 'md') - 50px;
    margin-inline: auto;
}

.content > *:not(:last-child){
    margin-bottom: var(--gap-content);
}




.row{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap:20px;
}


.fixed_socials {
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0px;
    margin-block: auto;
    height: fit-content;
    right: 30px;

    p{
        writing-mode:sideways-lr;
        position: relative;
        padding-top: 30px;
        display: flex;
        align-items: center;
        &::before{
            content:'';
            margin-left: 2px;
            position: absolute;
            display: block;
            top:0;
            height: 20px;
            width: 2px;
            background-color: var(--black);
        }

    }

    .socials{
        display: flex;
        flex-flow: column;
        align-items: end;
    }

    
}

@include m.col-gen();






@include m.mq(md){

    @include m.col-gen('-md-');

    .container{
        width: 1000px;
    }

    
}

@include m.mq(sm){
    @include m.col-gen('-sm-');
    
    .container{
        width: 700px;
    }

}

@include m.mq(xs){
    .container{
        width: 500px;
    }

    .fixed_socials {
        display: none;
    }

    @include m.col-gen('-xs-');
}

@include m.mq(xxs){

    .container{
        width: 90%;
    }

 [class*='col-']{
    grid-column: span 12!important;
 }

}




