<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> | <%= slogan %></title>
  </head>
  <body>
   <header>
      <div class="logo">
        <a aria-label="Lien vers la home" href="index.html">
          <img src="src/assets/img/Logo-Hello-Caen.svg" alt="Logo Hello Caen">
        </a>
      </div>
      <nav>
        <a href="about.html">Carte</a>
        <a href="">Festival</a>
        <a href="">Collab'</a>
        <a href="">Blog</a>
        <a href="">A propos</a>
        <a href="">Contact</a>
        <a aria-label="Lien de recherche" href="#">
          <span class="icon-magnifier"></span>
        </a>
      </nav>
      <a href="#" class="hbg">
        <span></span>
        <span></span>
      </a>
   </header>
   <div class="fixed_socials">
        <div class="socials">
          <a aria-label="Lien vers Linkedin" href="#">
            <span class="icon-linkedin black small"></span>
          </a>
           <a aria-label="Lien vers Linkedin" href="#">
            <span class="icon-linkedin black small"></span>
          </a>
           <a aria-label="Lien vers Linkedin" href="#">
            <span class="icon-linkedin black small"></span>
          </a>
         </div>
        <p>Suivez-nous</p> 
     </div>